# MET Database Cleaning - Milestone II

Very much a work in progress while we figure out what exactly we need out of the full dataset / what specific cleaning tasks we need to do

In [ ]:
from country_name import determine_met_country_names
import pandas as pd

Read in full dataset from MET github

In [2]:
met = pd.read_csv('https://media.githubusercontent.com/media/metmuseum/openaccess/refs/heads/master/MetObjects.csv')

/var/folders/cy/f_z2j2b90rl7q8vz6jzfv__00000gn/T/ipykernel_20219/2058581641.py:1: DtypeWarning: Columns (5,7,10,11,12,13,14,34,35,36,37,38,39,40,41,42,43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  met = pd.read_csv('https://media.githubusercontent.com/media/metmuseum/openaccess/refs/heads/master/MetObjects.csv')

Normalize columns names for ease of use

In [3]:
met = met.rename(columns={'Object ID':'object_id','Object Number': 'object_number', 'Is Highlight': 'is_highlight', 'Is Timeline Work': 'is_timeline_work', 'Is Public Domain': 'is_public_domain',
       'Gallery Number':'gallery_number', 'Department':'department', 'AccessionYear':'accession_year', 'Object Name':'object_name', 'Title':'title',
       'Culture':'culture', 'Period': 'period', 'Dynasty': 'dynasty', 'Reign': 'reign', 'Portfolio': 'portfolio', 'Constituent ID': 'constituent_id',
       'Artist Role':'artist_role', 'Artist Prefix':'artist_prefix', 'Artist Display Name':'artist_display_name',
       'Artist Display Bio': 'artist_display_bio', 'Artist Suffix':'artist_suffix', 'Artist Alpha Sort':'artist_alpha_sort',
       'Artist Nationality':'artist_nationality', 'Artist Begin Date':'artist_begin_date', 'Artist End Date':'artist_end_date',
       'Artist Gender':'artist_gender', 'Artist ULAN URL':'artist_ulan_url', 'Artist Wikidata URL':'artist_wikidata_url',
       'Object Date':'object_date', 'Object Begin Date':'object_begin_date', 'Object End Date':'object_end_date', 'Medium':'medium',
       'Dimensions':'dimensions', 'Credit Line':'credit_line', 'Geography Type':'geography_type', 'City':'city', 'State':'state',
       'County':'county', 'Country':'country', 'Region':'region', 'Subregion':'subregion', 'Locale':'locale', 'Locus':'locus',
       'Excavation':'excavation', 'River':'river', 'Classification':'classification', 'Rights and Reproduction':'rights_and_reproduction',
       'Link Resource':'link_resource', 'Object Wikidata URL':'object_wikidata_url', 'Metadata Date':'metadata_date', 'Repository':'repository',
       'Tags':'tags', 'Tags AAT URL':'tags_aat_url', 'Tags Wikidata URL':'tags_wikidata_url'})
met.set_index('object_id', inplace=True)

Drop unnecessary columns (dropped columns listed in comments)

In [4]:
met = met[['object_number', 'is_highlight', 'is_timeline_work', 'is_public_domain',
        'department', 'accession_year', 'object_name',
       'title', 'culture', 'period', 'dynasty', 'reign', 'portfolio',
       'constituent_id', 'artist_role', 'artist_prefix', 'artist_display_name',
       'artist_display_bio', 'artist_suffix', 
       'artist_nationality', 'artist_begin_date', 'artist_end_date',
       'artist_gender', 'country', 'region', 'subregion',
       'object_date',  'medium',
       'dimensions', 'classification', 'rights_and_reproduction',
        'repository',
       'tags']]

# 'credit_line', 'geography_type', 'city', 'state','county', 'locale', 'locus','excavation', 'river',
# 'tags_aat_url', 'tags_wikidata_url', 'object_wikidata_url', 'metadata_date', 'link_resource', 'object_begin_date', 
# 'object_end_date', 'artist_ulan_url', 'artist_wikidata_url', 'artist_alpha_sort', 'gallery_number',

In [5]:
met.head()

,object_number,is_highlight,is_timeline_work,is_public_domain,department,accession_year,object_name,title,culture,period,...,country,region,subregion,object_date,medium,dimensions,classification,rights_and_reproduction,repository,tags
object_id,,,,,,,,,,,,,,,,,,,,,
1,1979.486.1,False,False,False,The American Wing,1979.0,Coin,One-dollar Liberty Head Coin,NaN,NaN,...,NaN,NaN,NaN,1853,Gold,Dimensions unavailable,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN
2,1980.264.5,False,False,False,The American Wing,1980.0,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,...,NaN,NaN,NaN,1901,Gold,Dimensions unavailable,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN
3,67.265.9,False,False,False,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,...,NaN,NaN,NaN,1909â€“27,Gold,Diam. 11/16 in. (1.7 cm),NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN
4,67.265.10,False,False,False,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,...,NaN,NaN,NaN,1909â€“27,Gold,Diam. 11/16 in. (1.7 cm),NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN
5,67.265.11,False,False,False,The American Wing,1967.0,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,...,NaN,NaN,NaN,1909â€“27,Gold,Diam. 11/16 in. (1.7 cm),NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN

In [6]:
met['is_significant'] = met['is_timeline_work'] | met['is_highlight']

In [10]:
met = determine_met_country_names(met, "../data/interim/countries.csv")

###

next steps: determine which columns we want to use to train our classifier (determine column independence, etc)

###